<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css">

	<title></title>
</head>
<body>	
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="text-right">
				<button type="button" class="btn btn-default"><a href="/">New Search</a></button>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
		<h3>Your search results returned the following..</h3>
		<% search.forEach(function(element, indexOfArray) { %>
		<li><a href="/movies/<%=element.imdbID%>"><%= element.Title + " / " + element.Year + " / " + element.Type   %></a></li>
		<% }) %>
		<% if(search.length < 1){ %>
		<em>Media not found.<em>
		<% } %>
		</div>
	</div>

</body>
</html>